# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Next.js
.next/
**/.next/

# Production builds
dist/
**/dist/
build/
**/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# TypeScript
*.tsbuildinfo

# Misc
coverage/